body {
	background: #78909c;
}
.icon-block .material-icons {
	font-size: inherit;
}

.btn-large {
	border-radius: 10px;
}

.thin-text {
	font-weight: 300;
	padding: 20px;
}


.bg-text {
	background-color: #78909c;
}

.parallax-container {
	height: 100vh;

}

.logo {
	padding-left: 30px;
}
